
<ng-container *ngIf="(loadingArticleTypes$ | async); else loaded">
    <h1>Loading...</h1>
  </ng-container>
  
  <ng-template #loaded>
    <div class="articles-order">
      <div class="hint">Drag and drop to change sorting order</div>
      <div class="sorting-list" cdkDropList  (cdkDropListDropped)="drop($event)">
        <div class="sorting-item inputs-buttons-group" *ngFor="let articleType of articleTypes; let i = index"  cdkDrag>
          <div class="order-no">{{ (i+1).toString() }}.</div>
          <div class="article-type-name">{{ articleType.name }}</div>
        </div>
      </div> 
      <button type="button" class="button" [routerLink]="'/articles-setup'">I'm done, go back</button>
    </div>
  </ng-template>
  