@import '../../assets/scss/partials/colors';
@import '../../assets/scss/partials/variables';

.footer-content {
  position: relative;
  width: 100%;
  height: $footer-height;
  background-image: url('../../assets/img/catPaws-white.png');
  background-size: contain;
  background-origin: content-box;
  background-repeat: repeat-x;
  background-color: $main-color--dark;
  padding: 1rem 0;

  z-index: 10;
}