@import "./partials/variables";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i,900,900i|Quicksand:300,400&display=swap');

* {
  box-sizing: border-box;
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}

body {
  height: 100vh;
  margin: 0;
  // background-color: $background-color;
  font-family: $main-font;
}

.img-container {
  position: relative;
}

figure {
  float: right;


  img {
    width: 100%;
  }
}