@import '../../../assets/scss/partials/colors';
@import '../../../assets/scss/partials/variables';
@import '../../../assets/scss/partials/shared-styles';
@import '../../../assets/scss/partials/form-styles';


.edit-tags-view {
  position: fixed;
  top: 60%;
  left: 30%;
  display: inline-block;
  width: 29rem;
  border-radius: $border-radius;
  padding: 1rem;
  z-index: 1;
  background-color: $main-color--dark;
}

.inputs-grid {
  display: grid;
  grid-template-columns: 15rem 8rem;
  grid-template-rows: 3rem 3rem;
  gap: 1rem;
  margin: 1rem 0;
}

.close-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: inline-block;
  padding: 0.2rem 0.5rem;
}

label {
  color: white;
  letter-spacing: 0.1rem;
}

.hide {
  display: none;
}
