<div class="article">

  <div class="clearfix">
    <h1 class="article-name"  
        [attr.id]='article.id' 
        [innerHtml]="article.name?.length ? (article.name | highlight: highlightString) : '&lt; name meee &gt;'">
    </h1>
  
    <div 
        class="picture" 
        [class.right]="isOdd"
        [class.left]="!isOdd"
        *ngIf="article.imageUrl != null">
      <img [src]="article.imageUrl">
    </div>
  
    <div class="additional-field"
         *ngFor="let additionalField of getAdditionalFields()">
      <span class="article-field-order-no">{{ additionalField.name.orderNo + 1 }} </span>
      <span class="article-field-name">{{ additionalField.name.name }}: </span>
      <span class="article-field-value">{{ additionalField.value ? additionalField.value.value : '' }}</span>
    </div>
    
    <div class="article-text" [innerHTML]="article.text | safeHtml">
    </div>
  </div>
  <div class="tags">
    <div class="tag tag-button" *ngFor="let tag of (articleTags | async)" (click)="onShowArticlesByTag(tag.id)">
      {{ tag.name }}
    </div>
  </div>
  <div class="buttons">
    <button type="button" class="button" [routerLink]="'/articles/edit/' + article.id">Edit</button>
    <button type="button" class="button button-danger" (click)="onDeleteArticle()">Delete</button>
  </div>
</div>

