<ng-container *ngIf="(loadingArticles$ | async) || 
                     (loadingFieldNames$ | async) || 
                     (loadingFieldValues$ | async) || 
                     (loadingTags$ | async) ||
                     (loadingArticleTypes$ | async); 
                     else loaded">
  <h1>Loading...</h1>
</ng-container>

<ng-template #loaded>
  <div class="edit-article">
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
      <select 
            formControlName="articleType"
            (change)="onArticleTypeSwitched($event.target.value)">
        <option value='null' selected>General</option>
        <option 
              *ngFor="let type of (articleTypes$ | async)" 
              [value]="type.id"
              > {{type.name}}</option>
      </select>

      <br><br>

      <label>Article Name</label>
      <input formControlName="name">

      <br><br>

      <div
          formArrayName="additionalFields" 
          *ngIf="selectedArticleType != null">
        <div class="additional-field" *ngFor="let additionalField of additionalFieldNames; let i = index" [formGroupName]="i">
          <span>{{ additionalField.orderNo + 1}} </span>
          <label>{{ additionalField.name }}</label>
          <input type="hidden" formControlName="id">
          <input type="hidden" formControlName="fieldNameId">
          <input type="text" formControlName="value">
        </div>
      </div>

      <label>Text</label>
      <!-- <textarea formControlName="articleText"></textarea> -->
      <ckeditor [editor]="editor" [config]="ckconfig" formControlName="articleText"></ckeditor>

      <br><br>
      <label>Tags:</label>
    <div *ngFor="let tag of addedTags; let i = index">
      <span>{{ tag.name }}</span><span><button type="button" (click)="onDeleteArticleTag(i)">X</button></span>
    </div>
    <select #tagDropdown>
      <option *ngFor="let tag of (allTags$ | async)" [value]="tag.id">{{tag.name}}</option>
    </select>
    <button type="button"  (click)="onAddTag(tagDropdown.value)" [disabled]="tagDropdown.selectedIndex < 0">Add</button>
    <button type="button" (click)="onShowEditTags()">Edit tags</button>
    <app-edit-tags 
        [enabled]="showTagsEditView" 
        (tagDeleted)="onTagDeleted($event)"
        (viewClosed)="onTagsViewClosed()"></app-edit-tags>
    
    <br><br>

    <button type="submit">{{ editMode ? 'Save' : 'Create article' }}</button>
    </form>
  </div>
</ng-template>