
<ng-container *ngIf="(loadingArticleTypes$ | async) || (loadingFieldNames$ | async) || (loadingTags$ | async); else loaded">
  <h1>Loading...</h1>
</ng-container>

<ng-template #loaded>
  <div class="articles-setup">
    <div class="inputs-buttons-group">
      <button type="button" class="button" [routerLink]="'/articles-setup/new'">Setup new article type</button>
      <button type="button" class="button" [routerLink]="'/articles-setup/sorting'">Change sorting order</button>
    </div>
    <app-article-type-list></app-article-type-list>
  </div>
</ng-template>

