@import "../assets/scss/partials/variables";

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  height: $header-height;
}

.scroll-container {
  height: calc(100% - #{$header-height});
  width: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  // min-height: calc(100% - #{$footer-height});
}