
  <ng-container *ngIf="(loadingArticles$ | async) || 
                       (loadingFieldNames$ | async) || 
                       (loadingFieldValues$ | async) || 
                       (loadingTags$ | async) ||
                       (loadingArticleTypes$ | async)
                       ; else loaded">
    <h1 class="loading-text">Loading...</h1>
    
  </ng-container>
  
  <ng-template #loaded>
    <div class="articles-view">
      <div class="side-view" [class.collapsed]="!sidePanelExpanded">
        <app-articles-filter-panel *ngIf="isSideViewSelected('Filters')"></app-articles-filter-panel>
        <app-articles-outline-panel *ngIf="isSideViewSelected('Outline')" [articles]="filteredArticles"></app-articles-outline-panel>
        
        <button 
            class="collapse-side-view-button"
            *ngIf="sidePanelExpanded"
            (click)="sidePanelExpanded = false">
          <fa-icon [icon]="faCollapse"></fa-icon>
        </button>
        
        <div class="side-view-selector">
          <div class="side-view-selector-item">
            <button 
                class="side-view-button" 
                [class.active]="isSideViewSelected('Filters')"
                (click)="selectSideView('Filters')">
              Filters<span class="has-changes-sign">{{ userFiltersNotEmpty ? '*' : '' }}</span>
            </button>
          </div>

          <div class="side-view-selector-item">
            <button 
                class="side-view-button" 
                [class.active]="isSideViewSelected('Outline')"
                (click)="selectSideView('Outline')">
              Outline
            </button>
          </div>
        </div>
      </div>
      <div class="main-view" [class.filters-expanded]="sidePanelExpanded">
        <div class="articles">
          <div class="inputs-buttons-group">
            <button type="button" class="button" [routerLink]="'/articles/new'">Add something new</button>
            <a class="button" href="https://www.youtube.com/results?search_query=foxes+are+cute" target="_blank">Alisa I'm bored!</a>
          </div>
          <app-articles-list [articles]="filteredArticles"></app-articles-list>
        </div>
      </div>
    </div>
  </ng-template>