@import '../../assets/scss/partials/shared-styles';
@import '../../assets/scss/partials/variables';
@import '../../assets/scss/partials/colors';

.loading-text {
  width: 90%;
  text-align: center;
}

.side-view {
  height: calc(100vh - #{$header-height});
  position: fixed;
  top: $header-height;
  left: 0;
  z-index: 1;
  width: $filter-panel-full-width;
  transition: width 400ms ease-in-out;

  &.collapsed {
    width: $filter-panel-collapsed-width;
  }
}

.main-view {
  margin-left: calc(#{$filter-panel-collapsed-width} + 2rem);
  transition: margin-left 400ms ease-in-out;

  &.filters-expanded {
    margin-left: calc(#{$filter-panel-full-width} + 2rem);
  }
}

.articles {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.collapse-side-view-button {
  position: absolute;
  top: 0;
  right: 1rem;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: $main-color;
  cursor: pointer;
}

.side-view-selector {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: bottom left;
  transform: translate(100%, -100%) rotate(90deg);

  display: flex;

  .side-view-button {
    border: 1px solid $main-color;
    padding: 0.5rem;
    margin: 0;
    background-color: $background-color;
    color: $main-color--dark;
    font-family: $main-font;
    font-size: 1rem;
    letter-spacing: 0.07rem;

    cursor: pointer;

    &.active {
      background-color: $main-color;
      border-color: $main-color;
    }

    &:hover {
      border-color: $main-color;
      background-color: white;
    }
  }
}

.has-changes-sign {
  color: $accent-color-red;
}
