@import '../../assets/scss/partials/shared-styles';
@import '../../assets/scss/partials/variables';

.loading-text {
  width: 90%;
  text-align: center;
}

.side-view {
  height: calc(100vh - #{$header-height});
  position: fixed;
  top: $header-height;
  left: 0;
  z-index: 1;
  width: $filter-panel-full-width;

  &.collapsed {
    width: $filter-panel-collapsed-width;
  }
}

.main-view {
  margin-left: $filter-panel-collapsed-width;

  &.filters-expanded {
    margin-left: $filter-panel-full-width;
  }
}

.articles {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}