<div class="filters-panel" [class.collapsed]="!expanded">
  <div class="collapsed-view">

  </div>

  <div class="expanded-view">
    <div class="section-header">
      Filters
    </div>
  
    <div class="subsection-header">
      <button 
            type="button" 
            class="expand-button" 
            [class.expanded]="tagsFiltersExpanded"
            (click)="onTagsSectionExpandSwitched()">
        <fa-icon [icon]="faRight"></fa-icon>
      </button>
      <div class="header-text">Tags</div>
    </div>
    
    <div class="subsection" [@collapse]="tagsFilterAnimationState">
      <div class="inputs-buttons-group">
        <select #tagDropdown>
          <option *ngFor="let tag of (allTags$ | async)" [value]="tag.id">{{tag.name}}</option>
        </select>
        <button 
            type="button"  
            class="button"
            (click)="onAddFilterTag(tagDropdown.value)" 
            [disabled]="tagDropdown.selectedIndex < 0">
          Add to filter
        </button>
      </div>
      <div class="inputs-buttons-group">
        <label class="clickable-label">
          <input 
                type="radio" 
                name="tagsFilterTypeField" 
                [value]="0" 
                [ngModel]="tagsFilterType" 
                (ngModelChange)="onTagsFilterTypeChanged(0)">
          One of the tags
        </label>
        <label class="clickable-label">
          <input 
                type="radio" 
                name="tagsFilterTypeField" 
                [value]="1" 
                [ngModel]="tagsFilterType" 
                (ngModelChange)="onTagsFilterTypeChanged(1)">
          All of them
        </label>
      </div>
      <div class="tags">
        <div class="tag" *ngFor="let tag of filterTags; let i = index">
          <div class="tag-name">{{ tag.name }}</div>
          <div class="tag-remove-button" (click)="onDeleteFilterTag(i)">x</div>
        </div>
      </div> 
    </div>

    <div class="subsection-header">Article types</div>
    <div class="article-types-list">
      <div class="clickable-label" (click)="onChangeArticleTypeFilter(null)">
        <input type="checkbox" [ngModel]="isInFilterList(null)">
        General
      </div>
      <div class="clickable-label" *ngFor="let articleType of (allArticleTypes$ | async)" (click)="onChangeArticleTypeFilter(articleType.id)">
        <input type="checkbox" [ngModel]="isInFilterList(articleType.id)">
        {{ articleType.name }}
      </div> 
    </div>

    <div class="subsection-header">Field values</div>
    <div class="inputs-buttons-group">
      <label class="clickable-label">
        <input 
              type="radio" 
              name="fieldValuesFilterTypeField" 
              [value]="0" 
              [ngModel]="fieldValuesFilterType" 
              (ngModelChange)="onFieldValuesFilterTypeChanged(0)">
        One of the values
      </label>
      <label class="clickable-label">
        <input 
              type="radio" 
              name="fieldValuesFilterTypeField" 
              [value]="1" 
              [ngModel]="fieldValuesFilterType" 
              (ngModelChange)="onFieldValuesFilterTypeChanged(1)">
        All of them
      </label>
    </div>
    <div class="name-value-pair" *ngFor="let fieldValueFilter of fieldValueFilters; let i = index">
      <input 
          type="text" 
          placeholder="Name" 
          [(ngModel)]="fieldValueFilter.name">
      <input 
          type="text" 
          placeholder="Value" 
          [(ngModel)]="fieldValueFilter.value">
      <button 
          class="button button-danger"
          type="button"
          (click)="onDeleteFieldValueFilter(i)">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
    <div class="error-message" [class.hidden]="!showFieldValuesError">Fill all values and apply again</div>
    <div class="inputs-buttons-group">
      <button class="button" type="button" (click)="onSaveFieldValueFilters()">Apply</button>
      <button class="button" type="button" (click)="onAddFieldValueFilter()">
        Add value
      </button>
    </div>

    <button class="button button-danger" type="button" (click)="onClearAllFilters()">Clear all filters</button>

    <div class="section-header">
      Sorting
    </div>
  </div>
  
</div>
