<div class="outline-panel">
  <div class="anchors-list">


    <!-- if show by section -->
    <ng-container *ngIf="showSectionNames && _articlesBySection">
      <ng-container *ngFor="let sectionEntry of _articlesBySection">
        <div  class="section-header">
          <button 
            type="button" 
            class="expand-button" 
            [class.expanded]="isSectionExpanded(sectionEntry.key)"
            (click)="switchSectionsExpanded(sectionEntry.key)">
            <fa-icon [icon]="faRight"></fa-icon>
          </button>
          <span class="section-header-text">
            {{ getSectionName(sectionEntry.key) }}
          </span>
        </div>

        <div 
          class="section" 
          [@collapse]="isSectionExpanded(sectionEntry.key) ? 'subsectionExpanded' : 'subsectionCollapsed'">

          <div *ngFor="let article of sectionEntry.value"  class="anchor" (click)="scrollToArticle(article.id)">
            {{ article.name ? article.name : "&lt;name meee&gt;" }}
          </div>
        </div>
      </ng-container>
    </ng-container>

    <!-- else -->
    <ng-container *ngIf="!showSectionNames && !!_allArticles">
      <div *ngFor="let article of _allArticles"  class="anchor" (click)="scrollToArticle(article.id)">
        {{ article.name ? article.name : "&lt;name meee&gt;" }}
      </div>
    </ng-container>
  </div>
</div>