
@import '../../../assets/scss/partials/colors';
@import '../../../assets/scss/partials/variables';

.outline-panel {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background-color: white;
}

.anchors-list {
  display: flex;
  flex-direction: column;
  padding-bottom: calc(#{$footer-height} + 2rem);
}

.anchor {
  padding: 0.5rem 1rem;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  
  &.tabbed {
    margin-left: 1rem;
  }

  &:hover {
    background-color: $background-color;
    color: $accent-color-red--dark;
  }
}

.section-name {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0.5rem;
}