@import '../../assets/scss/partials/variables';
@import '../../assets/scss/partials/colors';

.messages-container {
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 15rem;
  max-width: 50%;
  opacity: 0.9;
}

.messages-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.message {
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius;
  padding: 1rem;
  margin: 0.5rem 1rem;

  display: flex;

  &>* {
    margin-right: 1rem;
  }

  &.error-message {
    border-color: $accent-color-red;
    background-color: $background-color;
    color: $accent-color-red--dark;
  }

  &.info-message {
    border-color: $main-color;
    background-color: $background-color;
    color: $main-color--dark;
  }

  .message-text {
    flex-grow: 1;
  }

  .close-message-button {
    margin-right: 0;
    cursor: pointer;
  }
}