
<ng-container *ngIf="(loadingArticleTypes$ | async) || (loadingFieldNames$ | async) || (loadingTags$ | async); else loaded">
  <h1>Loading...</h1>
</ng-container>

<ng-template #loaded>
  <div class="article-type-edit">
    <div class="fields-row">
      <label>Name</label>
      <input  #articleTypeNameInput [(ngModel)]="articleTypeName">
    </div>


    <div class="label">Additional fields</div>

    <div class="added-fields" [class.editmode]="editMode" *ngIf="additionalFields.length > 0" cdkDropList  (cdkDropListDropped)="drop($event)">
      <div *ngFor="let additionalField of additionalFields; let i = index" cdkDrag class="inputs-buttons-group field-row">
        <div class="field-order-no">{{ (additionalField.orderNo + 1) }}. </div>
        <div *ngIf="i !== editedAdditionalFieldIndex" class="field-name">{{ additionalField.name }}</div>
        <input 
          *ngIf="i === editedAdditionalFieldIndex" 
          [(ngModel)]="editedAdditionalFieldName" 
          (keydown)="onAdditionalFieldRename($event, i)"
          class="field-name-input">

        <div *ngIf="i !== editedAdditionalFieldIndex" class="field-hint">{{ additionalField.hint }}</div>
        <input 
          *ngIf="i === editedAdditionalFieldIndex" 
          [(ngModel)]="editedAdditionalFieldHint" 
          (keydown)="onAdditionalFieldRename($event, i)"
          class="field-name-input">
  
        <button type="button" class="button button-danger short-button" (click)="onDeleteField(i)">
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
        
        <div class="long-button" *ngIf="editMode">
          <button type="button" class="button long-button" (click)="onRenameField(i)" *ngIf="i !== editedAdditionalFieldIndex">Rename</button>
          <button type="button" class="button long-button" (click)="onSaveRenamedField(i)" *ngIf="i === editedAdditionalFieldIndex">Save</button>
        </div>
        <div class="long-button" *ngIf="editMode">
          <button type="button" class="button" (click)="onCancelRenamingField()" *ngIf="i === editedAdditionalFieldIndex">Cancel</button>
        </div>
      </div>
    </div>

    <div class="fields-row inputs-buttons-group">
      <input placeholder="field name" #additionalFieldInput (keydown)="onAdditionalFieldInput($event)" [(ngModel)]="newAdditionalFieldName">
      <input placeholder="hint" #additionalFieldInput (keydown)="onAdditionalFieldInput($event)" [(ngModel)]="newAdditionalFieldHint">
      <button type="button" class="button" (click)="onCreateField()">Add</button>
    </div>

    <div class="label section-name">Default tags</div>

    <div class="inputs-buttons-group">
      <select #tagDropdown>
          <option *ngFor="let tag of (tags$ | async)" [value]="tag.id">{{tag.name}}</option>
      </select>
      
      <button 
          type="button"  
          class="button"
          (click)="onAddTag(tagDropdown.value)" 
          [disabled]="tagDropdown.selectedIndex < 0">
        Add
      </button>
      <button 
          type="button" 
          class="button button-danger"
          (click)="onShowEditTags()">
        Edit tags
      </button>
    </div>

    <div class="tags">
      <div class="tag" *ngFor="let tag of defaultTags; let i = index">
        <div class="tag-name">{{ tag.name }}</div>
        <div class="tag-remove-button" (click)="onArticleTypeTagDeleted(i)">x</div>
      </div>
    </div> 

    <app-edit-tags 
        [enabled]="showTagsEditView" 
        (tagDeleted)="onTagDeleted($event)"
        (viewClosed)="onTagsViewClosed()"></app-edit-tags>

    <div class="inputs-buttons-group">
      <button class="button" (click)="onSaveArticleType()">Save</button>
      <button class="button" type="button" [routerLink]="'/articles-setup'">Cancel</button>
    </div>
  </div>
</ng-template>