
<ng-container *ngIf="(loadingArticleTypes$ | async) || (loadingFieldNames$ | async) || (loadingTags$ | async); else loaded">
  <h1>Loading...</h1>
</ng-container>

<ng-template #loaded>
  <div class="article-type-edit">
    <label>Name:</label>
    <input placeholder="name" #articleTypeNameInput [(ngModel)]="articleTypeName">
    <br><br>
    <label>Additional fields:</label>
    <br><br>
    <div *ngFor="let additionalField of additionalFields; let i = index">
      <span class="field-order-no">{{ (additionalField.orderNo + 1) }} </span>
      <span *ngIf="i !== editedAdditionalFieldIndex" class="field-name">{{ additionalField.name }}</span>
      <input *ngIf="i === editedAdditionalFieldIndex" [(ngModel)]="editedAdditionalFieldName">
      
      <button type="button" [disabled]="i == 0" (click)="onMoveFieldUp(i)">Up</button>
      <button type="button" [disabled]="i == additionalFields.length - 1" (click)="onMoveFieldDown(i)">Down</button>

      <button type="button" (click)="onDeleteField(i)">X</button>
      
      <button type="button" (click)="onRenameField(i)" *ngIf="editMode && i !== editedAdditionalFieldIndex">Rename</button>
      <button type="button" (click)="onSaveRenamedField(i)" *ngIf="editMode && i === editedAdditionalFieldIndex">Save</button>
      <button type="button" (click)="onCancelRenamingField()" *ngIf="editMode && i === editedAdditionalFieldIndex">Cancel</button>
    </div>
    <input placeholder="field name" #additionalFieldInput (keydown)="onAdditionalFieldInput($event)" [(ngModel)]="newAdditionalFieldName">
    <button type="button" (click)="onCreateField()">Add</button>

    <br><br>

    <label>Default tags:</label>
    <div *ngFor="let tag of defaultTags; let i = index">
      <span>{{ tag.name }}</span><span><button type="button" (click)="onArticleTypeTagDeleted(i)">X</button></span>
    </div>
    <select #tagDropdown>
      <option *ngFor="let tag of (tags$ | async)" [value]="tag.id">{{tag.name}}</option>
    </select>
    <button (click)="onAddTag(tagDropdown.value)" [disabled]="tagDropdown.selectedIndex < 0">Add</button>
    <button (click)="onShowEditTags()">Edit tags</button>

    <app-edit-tags 
        [enabled]="showTagsEditView" 
        (tagDeleted)="onTagDeleted($event)"
        (viewClosed)="onTagsViewClosed()"></app-edit-tags>

    <div>
      <button (click)="onSaveArticleType()">Save</button>
      <button type="button" class="nav-link" [routerLink]="'/articles-setup'">Cancel</button>
    </div>
  </div>
</ng-template>