<p>home works!</p>

<button type="button" class="nav-link" [routerLink]="'/articles'">Articles</button>
<button type="button" class="nav-link" [routerLink]="'/articles-setup'">Setup</button>

<!-- <app-upload-test></app-upload-test> -->
<app-image></app-image>

<!-- <p>Bacon ipsum dolor amet tempor reprehenderit ball tip pastrami frankfurter. Consectetur turkey nisi turducken cillum aute chislic incididunt andouille spare ribs. Biltong prosciutto buffalo occaecat jowl. Shoulder voluptate swine, buffalo cillum hamburger short loin boudin. T-bone corned beef officia est, in minim hamburger ball tip. Ut aliquip prosciutto frankfurter velit cupidatat ex in anim ullamco boudin nisi. Dolore ex swine fugiat picanha pork chop mollit alcatra est proident.</p>

<p>Consectetur beef dolor, nisi nulla laborum pork loin boudin. Ball tip spare ribs in beef ribs, t-bone ribeye ground round velit alcatra short loin buffalo incididunt. Consequat alcatra picanha, id velit officia ground round. Ribeye turkey boudin qui meatball, excepteur chuck et beef anim tri-tip ut salami bresaola spare ribs.</p>

<p>Reprehenderit eiusmod deserunt, elit capicola tongue meatball sirloin cillum. Commodo anim id, shank burgdoggen minim doner chicken pork loin pig ham. Venison dolore tempor do, porchetta voluptate irure dolor cow ball tip nostrud deserunt. Boudin voluptate nisi turkey, ut turducken eiusmod landjaeger pastrami flank in adipisicing aute porchetta magna. Chuck mollit pork lorem.</p>

<p>Ullamco tri-tip beef swine reprehenderit beef ribs. Sirloin capicola proident flank drumstick, andouille aute ham hock minim culpa ullamco aliquip et tongue. Drumstick alcatra non andouille irure aute hamburger. Andouille sirloin consectetur t-bone laboris adipisicing exercitation eu qui ut chicken. Shankle proident sint chicken commodo brisket. Labore pork spare ribs nisi irure, pastrami proident exercitation et magna nostrud bresaola do.</p>

<p>Chislic eiusmod short ribs id. Swine consectetur tenderloin nulla salami ribeye boudin, dolor ut frankfurter. Nisi adipisicing ex, kevin laborum reprehenderit shankle turkey strip steak pariatur. Exercitation dolore fatback elit hamburger excepteur officia chicken bacon turkey jowl sint. Beef ribs qui minim laborum pig ut. In t-bone corned beef, drumstick quis ad tail dolore picanha esse.</p>

<p>Irure cillum ribeye landjaeger minim jerky. Ea in sint ad tongue. Adipisicing consequat hamburger bacon, ea nostrud spare ribs anim cow shoulder beef quis voluptate cupidatat fugiat. Anim turkey boudin in culpa. Boudin veniam officia eu pork turducken pastrami non short ribs t-bone, shoulder salami bresaola brisket. Anim tenderloin non, chicken fatback elit andouille ham in. Velit non alcatra, pork chop leberkas short ribs ea lorem.</p>

<p>Meatball nisi pancetta nostrud enim, mollit ipsum beef reprehenderit ball tip id. Alcatra leberkas beef, aliqua tri-tip hamburger cillum minim picanha drumstick boudin velit. Tail ham leberkas aliquip jerky, alcatra shoulder est voluptate meatloaf ut. Venison ut strip steak short loin, leberkas ex est ut enim in qui filet mignon ground round. Ham hock occaecat capicola minim sirloin adipisicing ut prosciutto.</p>

<p>Shoulder kevin corned beef jerky incididunt eiusmod. Reprehenderit aute enim duis bresaola chicken brisket aliquip cow landjaeger. Irure reprehenderit rump velit prosciutto. Aute ham hock short loin bacon ullamco est officia dolore biltong chislic. Beef ribs irure strip steak, quis proident hamburger t-bone lorem ribeye duis.</p>

<p>Aute dolore ipsum consequat buffalo chicken sirloin, esse elit bresaola ut dolore bacon short ribs reprehenderit. Cupidatat nostrud eiusmod, proident landjaeger jowl ribeye aliquip magna velit occaecat. Flank occaecat hamburger voluptate. Prosciutto swine non tempor biltong minim burgdoggen sunt incididunt.</p>

<p>Ut ea shoulder doner duis ad beef venison meatloaf irure sint. Sirloin ground round prosciutto porchetta, culpa deserunt burgdoggen fatback eu id meatloaf nisi ham hock anim. Buffalo biltong frankfurter sirloin labore short ribs ribeye burgdoggen est excepteur in bacon eiusmod laboris fugiat. Do tenderloin swine, duis flank landjaeger buffalo pork loin. Sirloin spare ribs corned beef pork sausage commodo, elit t-bone bresaola ipsum ham short loin cillum. Porchetta tri-tip pork chop eu sirloin. Chislic aliquip id tenderloin rump ea.</p>

<p>Labore pork cillum et dolore dolor ea quis swine fugiat. Leberkas excepteur short loin swine tongue. Dolor rump landjaeger dolore jowl, sint cillum velit excepteur tempor veniam tongue. Chuck ullamco incididunt officia quis.</p>

<p>Hamburger capicola rump tail, esse mollit laboris andouille sausage sunt. Bresaola venison tri-tip sunt tongue consectetur dolore incididunt turkey meatball ham ribeye meatloaf. Fatback consectetur short ribs ipsum irure sed. Cow eu deserunt strip steak aute. Chuck irure incididunt fatback.</p>

<p>Non chislic sunt quis tongue. Landjaeger anim kielbasa kevin, consequat bacon velit esse pork loin. Filet mignon pork chop fatback aliqua nulla pastrami burgdoggen, deserunt officia pork belly shoulder. Ground round deserunt velit, porchetta sunt aute anim est frankfurter tri-tip reprehenderit ex alcatra dolore. Flank pancetta ut swine.</p>

<p>Ullamco est short loin shank. Incididunt quis ut cupidatat rump. Commodo in short loin meatloaf, bacon anim burgdoggen velit laborum ipsum cupidatat eiusmod. Sint short ribs picanha capicola in buffalo eiusmod exercitation porchetta shank tenderloin commodo boudin corned beef pancetta. Salami short ribs ad beef ribs quis aliqua biltong est pastrami brisket. Pariatur dolore pork belly non cow ullamco officia minim. Aliqua dolore ad kevin sirloin burgdoggen buffalo exercitation.</p>

<p>Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p> -->


<!-- <ckeditor [editor]="editor" [config]="ckconfig" [(ngModel)]="editorValue"></ckeditor> -->
<!-- <br><br>
<div [innerHtml]="hardcodedText | safeHtml" class="img-container">

</div>
<br><br> -->
<!-- <div>{{editorValue}}</div> -->